html, body {
    margin: 0;
    padding: 0;
}

/* navigation bar */
ul .navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategrey;
}

li .navBar {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: olivedrab;
}

/* banner */
#nameAndTitle {
    background-image: url("/Resources/images/bannerPic.jpg");
    background-size: cover;
    height: 600px;
    width: 100%;
}