html, body {
    margin: 0;
    padding: 0;
}

/* navigation bar */


/* banner */
#nameAndTitle {
    background-image: url("/Resources/images/bannerPic.jpg");
    background-size: cover;
    height: 600px;
    width: 100%;
}