html, body {
    margin: 0;
    padding: 0;
}

/* navigation bar */
#navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategrey;
}

#navBar li {
    float: left;
}

#navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

#navBar li a:hover {
    background-color: rgb(62, 102, 102);
}

/* banner */
#nameAndTitle {
    background-image: url("/Resources/images/bannerPic.jpg");
    background-size: cover;
    height: 300px;
    width: 100%;
}